<div class="container">

    <h1>Welcome</h1>


    <a href="/users/profile/{{id}}">My profile</a>
    <a href="/users/list">All profiles</a>
    <a href="/map">Map</a>
    <a href="/restaurants/favorites">Favorite restaurants</a>
    <a href="/restaurants/appointments">My appointments</a>
    <a href="/chat">My chats</a>

</div>