<div class="container">
    <h1>User registration</h1>

    <form action="/auth/sign-up" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
        <div class="form-group">
            <label for="birthDay">Date of birth</label>
            <input type="date" class="form-control" id="birthDay" name="birthDay">
        </div>
        <div class="form-group">
            <label for="favoriteCuisine1">Favorite Cuisine 1</label>
            <select id="favoriteCuisines" name="favoriteCuisines" class="form-control">
                <option value="spanish">Spanish Food</option>
                <option value="chinese">Chinese Cuisine</option>
                <option value="japanese">Japanese Food</option>
                <option value="italian">Italian Food</option>
            </select>
        </div>
        <div class="form-group">
            <label for="favoriteCuisine2">Favorite Cuisine 2</label>
            <select id="favoriteCuisines" name="favoriteCuisines" class="form-control">
                <option value="spanish">Spanish Food</option>
                <option value="chinese">Chinese Cuisine</option>
                <option value="japanese">Japanese Food</option>
                <option value="italian">Italian Food</option>
            </select>
        </div>
        <div class="form-group">
            <label for="favoriteCuisine3">Favorite Cuisine 3</label>
            <select id="favoriteCuisines" name="favoriteCuisines" class="form-control">
                <option value="spanish">Spanish Food</option>
                <option value="chinese">Chinese Cuisine</option>
                <option value="japanese">Japanese Food</option>
                <option value="italian">Italian Food</option>
            </select>
        </div>
        <div class="form-group">
            <label for="userImage">Profile Image</label>
            <input type="file" class="form-control-file" id="userImage" name="userImage">
        </div>
        <button type="submit" class="btn btn-dark btn-block">Registrer</button>
        {{#if errorMessage}}
        <div id="error">
            <p>{{errorMessage}}</p>
        </div>
        {{/if}}
    </form>
</div>