<div class="container body-container">
    <h1>Welcome to your personal space {{user.name}}!</h1>
    <div class="row grid">
        <div class="col-md-4 restaurant-grid">
            <a href="/restaurants/map">The best restaurants in town!</a>
        </div>
        <div class="col-md-4 people-grid">
            <a href="/users/map">Meet new people around you</a>
        </div>
        <div class="col-md-4 users-grid">
            <a href="/users/list">Last registered users</a>
        </div>
    </div>
    <div class="row grid">
        <div class="col-md-3 profile-grid">
            <a href="/users/{{user.id}}">My profile</a>
        </div>
        <div class="col-md-3 favorite-grid">
            <a href="/restaurants/favorites">My favorite restaurants</a>
        </div>
        <div class="col-md-3 appointments-grid">
            <a href="/restaurants/reservations">My reservations</a>
        </div>
        <div class="col-md-3 chats-grid">
            <a href="/chat">My chats</a>
        </div>
    </div>
</div>
</div>