<div class="container">

    <h1>Welcome {{user.name}}!</h1>

    <a href="/places">Discover new restaurants</a><br>
    <a href="/users/list">New users</a><br>
    <a href="/users/map">Meet new people</a>
    <hr>
    <a href="/users/{{user.id}}">My profile</a><br>
    <a href="/places/favorites">My favorite restaurants</a><br>
    <a href="/restaurants/appointments">My appointments</a><br>
    <a href="/chat">My chats</a>

</div>