<div class="container">

    <h1>Welcome {{#each user}}{{name}}{{/each}}!</h1>

    <a href="/map">Discover new restaurants</a><br>
    <a href="/users/list">Meet new people</a>
    <hr>
    <a href="/users/{{#each user}}{{id}}{{/each}}">My profile</a><br>
    <a href="/restaurants/favorites">My favorite restaurants</a><br>
    <a href="/restaurants/appointments">My appointments</a><br>
    <a href="/chat">My chats</a>

</div>