<div class="container body-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Reset your password {{name}}</h1>
            <form method="POST" action="/users/password/{{id}}">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-red btn-block">Save password</button>
            
                {{#if errorMessage}}
                <div id="error">
                    <p>{{errorMessage}}</p>
                </div>
                {{/if}}
            </form>
        </div>
    </div>
</div>