<div class="container user-list body-container">
    <div class="row justify-content-center">
         <div class="col-md-4">
            <h1>The last registered users</h1>
            {{#each users}}
            <a href="/users/{{id}}"><img src="{{userImage.path}}" alt="{{name}}"> 
            {{name}}
            <span class="btn-red small-btn">See profile</span></a>
            <hr>
            {{/each}}
         </div>
    </div>
</div>