<div class="container user-list">
    <h1>Meet new users</h1>
        {{#each users}}
            <a href="/users/{{id}}"><img src="{{userImage.path}}" alt="{{name}}">
            {{name}}</a>
            <hr>
        {{/each}}
</div>