// SASS
$red-color: #ea5f43;
$light-red-color: #f5afa1;
$green-color: #4b9a7b;
$light-green-color: #a5cdbd;

$bold: 600;
$textShadow: 1px 1px 2px black;
$maxSize: 2em;
$medSize: 1.7em;
$smSize: 1.2em;

// GENERAL STYLES
body {
  font-family: sans-serif;
  font-weight: 200;
  transition: 0.5s;
}

h1 {
  margin: 25px 0;
  font-size: $medSize;
  font-weight: 100;
}

.red-text {
  color: $red-color;
}

img{
  width:100%
}

.body-container {
  padding-bottom: 100px;
}

a {
  color: $red-color;
}

a:hover {
  color: $light-red-color;
  text-decoration: none;
}

// NAV 
nav img {
  width: 100px;
  height: auto;
  padding-right: 25px;
}

.app-nav-bar {
  height: 7vh;
  background-color: $green-color;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.app-nav-bar li {
    padding: 2px 15px;
}

.app-nav-bar a {
  color: white;
  font-size: $maxSize;
  padding: 0 10px;
}

// HOME PAGE
.home-body{
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/home-background.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 90vh;
  margin-top: -25px;
  text-align: center;
  color: white;
}

.home-body h1 {
  padding-top: 25%;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: $bold;
  text-shadow: $textShadow;
}

.home-body p {
  text-transform: uppercase;
  font-size: $smSize;
  font-weight: $bold;
  text-shadow: $textShadow;
}

// AUTH FORMS
#error p{
  text-align: center;
  color: $red-color;
  border: 1px solid $red-color;
  margin-top: 10px;
}

// USER GRID
.grid {
  height: 33vh;
}
.grid a {
  position: absolute;
  bottom: 0;
  color: white;
  text-shadow: $textShadow;
  text-transform: uppercase;
  font-weight: $bold;
  font-size: $smSize;
}
.restaurant-grid {
  background: url(../img/restaurants-grid.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.people-grid {
  background: url(../img/friends.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.users-grid {
  background: url(../img/last-users.jpeg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.profile-grid {
  background: url(../img/profile.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.favorite-grid {
  background: url(../img/favorite.webp); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.appointments-grid {
  background: url(../img/reservations.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.chats-grid {
  background: url(../img/chat.jpg); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// MAP
#map {
  height: 83vh;
  margin: 0;
}

#restaurant-map {
  height: 68vh;
}

#markerLayer img {
  border: 2px solid rgb(0, 0, 0) !important;
  object-fit: cover;
  border-radius: 25px;
}

.profiles-box {
  text-align: center;
}

.profiles-box h2 {
  font-size: $maxSize;
}

.profiles-box a {
  background-color: $red-color;
  color: white;
  padding: 5px;
  display: block;
  width: 200px;
  margin: auto;
}

// USER LIST
.user-list img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 25px;
}

.user-list a {
  color: black;
  font-size: $smSize;
  font-weight: 600;
}

// INDIVIDUAL USER
.individual-user img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

// INDIVIDUAL CHAT
.chat-individual form {
    position: fixed;
    bottom: 0;
    padding: 10px 0 80px;
    width: 50%;
    background-color: white;
}

.chat-box  {
  margin-top: 25px;
  height: 425px;
  overflow:auto;
}

.like{
  background-color: white;
  border: none;
}

.chat-error {
  margin-top: -150px;
  width: 90%;
}

.chat-info {
  font-size: 0.75em;
  margin-bottom: 0px;
}

// BUTTONS
.white-btn {
  display: block;
  color: white;
  background-color: $red-color;
  width: 200px;
  margin: auto;
  padding: 5px 0;
  text-transform: uppercase;
  font-weight: $bold;
}

.white-btn:hover {
  background-color: white;
  color: black;
  text-decoration: none;
}

.btn-green {
  background-color: $green-color;
  color: white;
}

.btn-green:hover {
  background-color: $light-green-color;
}

.btn-red {
  background-color: $red-color;
  color: white;
}

.btn-red:hover {
  background-color: $light-red-color;
  color: white;
}

.small-btn {
  font-weight: 200;
  font-size: 0.8em;
  position: absolute;
  right: 0;
  padding: 5px 10px;
}

// MEDIA QUERY
@media only screen and (min-width: 990px) {
  .signup {
    background-color: $red-color;
    color: white !important;
    margin: 0 15px;
  }
  
  .signup:hover {
    background-color: $light-red-color;
  }

  .individual-user img {
    height: 300px;
  }
}

@media only screen and (max-width: 770px) {
  .grid {
    height: 100vh;
  }
  .chat-individual form {
    width: 70%;
}
}

@media only screen and (max-width: 450px) {
  .chat-individual form {
    width: 90%;
}
}