// GENERAL STYLES
body {
  font-family: sans-serif;
  font-weight: 200;
  margin-bottom: 80px;
}

h1 {
  margin: 25px 0;
  font-size: 1.7em;
  font-weight: 100;
}

.red-text {
  color: rgb(196, 10, 10);
}

// NAV 
img{
  width:100%
}
.app-nav-bar {
  height: 7vh;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.app-nav-bar li {
    padding: 2px 15px;
}

.app-nav-bar a {
  color: white;
  font-size: 2em;
}

// MAP
#map {
  height: 88vh;
  margin: 0;
}

#markerLayer img {
  border: 2px solid rgb(0, 0, 0) !important;
  object-fit: cover;
  border-radius: 25px;
}

// USER LIST
.user-list img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-right: 25px;
}

.user-list a {
  color: black;
  font-size: 1.2em;
  font-weight: 600;
}

// INDIVIDUAL USER
.individual-user img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

// INDIVIDUAL CHAT

.chat-individual form {
    position: fixed;
    bottom: 0;
    padding: 10px 0 80px;
    width: 90%;
    background-color: white;
}

.chat-box  {
  margin-top: 25px;
  height: 425px;
  overflow:auto;
}
.like{
  background-color: white;
  border: none;
}
