<div class="container search-bar">
    <form>
        <div class="row justify-content-around align-items-center text-center">
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="city">City or district</label>
                    <input type="text" class="form-control" id="city" placeholder="City" name='city'>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="radius">Radius (meters)</label>
                    <input type="text" class="form-control" id="radius" placeholder="Radius (m)" name='radius'>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="rankBy">Rank by</label>
                    <select id="rankBy" name="rankBy" class="form-control">
                        <option value="select">Select</option>
                        <option value="rating">Rating</option>
                        <option value="distance">Distance</option>
                        <option value="name">Name</option>
                        <option value="price">Price</option>
                        <option value="user_ratings">User ratings</option>
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="desdencingRadio" id="descending"
                        value="descending" checked>
                    <label class="form-check-label" for="descending">
                        Descending
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="desdencingRadio" id="ascending"
                        value="ascending">
                    <label class="form-check-label" for="ascending">
                        Ascending
                    </label>
                </div>
            </div>
            <div class="col-md-1">
                <button id="search" type="submit" class="btn btn-red">Search</button>
            </div>
        </div>
        <div class="row justify-content-center view-map-search" id="radioDom">
            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="chooseView" id="selectlist" value="selectlist">
                    <label class="form-check-label" for="selectlist">
                        <i class="fas fa-th-list"></i>
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="chooseView" id="selectMap" value="selectMap"
                        checked>
                    <label class="form-check-label" for="selectMap">
                        <i class="fas fa-map-marked-alt"></i>
                    </label>
                </div>
            </div>
        </div>
    </form>

</div>
<figure id="restaurant-map"></figure>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/location-app.js"></script>
<script src="/js/restaurant-map-app.js"></script>
<script src="/js/restaurant-app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{googleApi}}&callback=initMap"></script>