<div class="home-body">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Food friends</h1>
            <p>Expand your social circle, connect with different people and discover restaurants in your city.</p>

            <a class="white-btn" href="/auth/">Log In</a><br>
            <a class="white-btn" href="/auth/sign-up">Sign Up</a>
        </div>
    </div>
</div>
</div>

