<figure id="map"></figure>

<nav class="app-nav-bar">
    <ul>
        <li><a href="/chat"><i class="far fa-comment-dots"></i></a></li>
        <li><a href="/users/favorites"><i class="far fa-star"></i></a></li>
        <li><a href="/users/appointments"><i class="far fa-calendar-check"></i></a></li>
        <li><a href="/users/{{#each user}}{{id}}{{/each}}"><i class="far fa-user"></i></a></li>
    </ul>
</nav>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/map-app.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXeiSzpKw2LbtOvI0rpqsLB4ATpX9FOkw&callback=initMap"></script>